@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap');

body {
    background: linear-gradient(90deg, palegreen 20%, #ffed4b 70%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0 auto;
    justify-items: center;
    display: flex;
    font-family: 'Raleway', sans-serif;
}

.container {
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 6em;
    color: rgb(192, 83, 147);
}

input { 
    text-align: center; 
}

input[type="text"] {
    font-size: 1.5em;
    color:rgb(192, 83, 147);
    font-family: 'Shrikhand', cursive;
    width: 400px;
    background-color: rgb(238, 194, 194);
    border-color:rgb(238, 194, 194);
    border-style: solid;
    border-radius: 10px;

}

input[type="button"] {
    font-size: 1.5em;
    color: white;
    font-family: 'shrikhand', cursive;
    width: 400px;
    background-color: rgb(192, 83, 147);
    border-color:rgb(192, 83, 147);
    border-style: solid;
    border-radius: 10px;

}

/* shake function */

.shake {
    animation: shake 1s;
}

@keyframes shake {
    0% {transform: translate(4px, 4px) rotate(20deg); }
    10% {transform: translate(-4px, -4px) rotate(0deg); }
    20% {transform: translate(-4px, 4px) rotate(-20deg); }
    30% {transform: translate(-4px, -4px) rotate(0deg); }
    40% {transform: translate(4px, 4px) rotate(20deg); }
    60% {transform: translate(-4px, -4px) rotate(0deg); }
    60% {transform: translate(4px, 4px) rotate(-20deg); }
    70% {transform: translate(5px, -4px) rotate(0deg); }
    80% {transform: translate(-4px, -4px) rotate(20deg); }
    90% {transform: translate(4px, 4px) rotate(0deg); }
    100% {transform: translate(-4px, -4px) rotate(-20deg); }
}

/* media query to make website responsive */
@media (min-width: 200px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 400px) {
    h1 {
        font-size: 3rem;
    }
}

@media (min-width: 600px) {
    h1 {
        font-size: 4rem;
    }
}

@media (min-width: 800px) {
    h1 {
        font-size: 5rem;
    }
}

@media (min-width: 1000px) {
    h1 {
        font-size: 6rem;
    }
}